* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #2C2D44;
	color: #fff;
}

/* fonts */
.ex-bold-54{
	font-family: 'Barlow', sans-serif;
	font-size: 54px;
}

.semi-14{
	font-weight: 600;
	font-size: 14px;
}

.bold-16{
	font-weight: 700;
	font-size: 16px;
}

.bold-20-space{
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 3px;
}

.bold-20{
	font-weight: 700;
	font-size: 20px;
}

.bold-21{
	font-weight: 700;
	font-size: 21px;
}

.bold-23{
	font-weight: 700;
	font-size: 23px;
}

.bold-25{
	font-weight: 700;
	font-size: 25px;
}

.bold-33{
	font-weight: 700;
	font-size: 33px;
}

.bold-38{
	font-weight: 700;
	font-size: 38px;
}

.med-14{
	font-weight: 500;
	font-size: 14px;
}

.med-20{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.light-14{
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

.light-16{
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}

.light-20{
	font-weight: 300;
	font-size: 20px;
}

.light-22{
	font-weight: 300;
	font-size: 22px;
	line-height: 35px;
}

/* colors */
.c-tag-1{
	color: #fff !important;
}

.pt-200{
	padding-top: 200px;
}

.pt-140 {
    padding-top: 140px;
}

.c_custom{
    max-width: 1740px !important;
}

/* header starts */
.header-fixed {
    position: fixed;
    background: #272638;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 9999;
    visibility: inherit;
	backdrop-filter: blur(5px);
}

.header-fixed.stick {
    position: fixed;
    background: transparent;
    top: 0;
    box-shadow: 0px 3px 6px #0000001a;
	backdrop-filter: blur(5px);
}

.navbar button:focus {
	outline: none;
}

/* hero starts */
.hero, .database, .logic, .invite, .revenue, .products, .subscription{
	position: relative;
	width: 100%;
    height: 100vh;
	min-height: 1080px;
}

.footer{
	position: relative;
	width: 100%;
	height: 300px;
}

.ellipse-wrapper{
	position: absolute;
	width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
	background: rgba(20, 20, 20, 0.4);
	filter: blur(140px);
	z-index: 1;
	overflow: hidden;
}

.ellipsis{
	position: absolute;
    border-radius: 50%;
    background: linear-gradient(93.27deg, #F754E7 4.44%, #6A53F7 99.9%);
	transform: rotate(-90deg);
}

.ellipsis-hero{
    top: calc(13% - 20px);
    left: calc(44% - 20px);
    width: 330px;
    height: 865px;
}

.content{
	position: absolute;
	z-index: 3;
	width: 100%;
}

/* database stars */
.data-right{
	width: 70%;
}

.data-left img{
	width: 100%;
	background: linear-gradient(81.03deg, rgba(255, 0, 168, 0.66) 15.92%, rgba(210, 0, 215, 0.657396) 45.29%, rgba(251, 47, 230, 0.63) 69.59%, rgba(220, 6, 255, 0.87) 91.36%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 40px;
	border-radius: 15px;
}

.ellipsis-data{
    top: calc(20% - 20px);
    left: calc(44% - 20px);
    width: 295px;
	height: 539px;
}

/* revenue starts */
.revenue-left img {
    background: linear-gradient(84.76deg, rgba(212, 42, 240, 0.76) 13%, rgba(178, 56, 253, 0.83) 50.91%, rgba(75, 71, 254, 0.65) 92.92%);
}

.revenue-left h2 {
    width: 75%;
    margin: 0 auto;
}

.ellipsis-revenue-right{
    top: calc(25% - 20px);
	left: calc(60% - 20px);
	width: 162px;
    height: 530px;
}

.ellipsis-revenue-left{
	background: linear-gradient(93.27deg, #B23F90 4.44%, #E7305E 44.71%, #FA8471 99.9%);
	transform: rotate(-90deg);
    top: calc(25% - 20px);
	left: calc(35% - 20px);
	width: 162px;
    height: 530px;
}

/* products starts */

.product-item{
	background: rgba(138, 138, 138, 0.2);
    /* backdrop-filter: blur(298px);
	-webkit-backdrop-filter: blur(298px); */
    border-radius: 15px;
    padding: 50px 0;
}

.product-left {
    width: 77%;
}

.ellipsis-product{
    background: linear-gradient(93.27deg, #F754E7 4.44%, #6A53F7 85.9%);
    transform: rotate(-65.65deg);
}

.ellipsis-product-left {
    top: calc(25% - 20px);
    left: calc(20% - 20px);
    width: 401.56px;
    height: 438.47px;
    z-index: 1;
}

.ellipsis-product-middle {
    width: 525.51px;
    height: 552.25px;
    top: calc(20% - 20px);
    left: calc(38% - 20px);
}

.ellipsis-product-right {
    top: calc(35% - 20px);
    left: calc(64% - 20px);
    width: 355.58px;
    height: 375.82px;
}

.pr-img-button img{
	width: 200px;
}

.pitem-2 {
    padding: 20px 0;
}

.pitem-3 {
    padding: 50px 0;
}

.pitem-5 {
    padding: 60px 0;
}

.pr-img-widget img {
    width: 268px;
}

.pitem-4 {
    padding-bottom: 39px;
}

.pr-img-custom {
    width: 75%;
    margin-left: auto;
}

/* subscription starts */
.subs-item {
	width: 100%;
    background: rgba(164, 132, 255, 0.2);
    border-radius: 15px;
    padding: 80px;
}

.si-pad {
    padding: 89px 80px;
}

.sub-details{
	overflow: hidden;
}

.sub-title{
	float: left;
}

.sub-price{
	float: right;
}


.sub-price span {
    position: relative;
    bottom: 4px;
}

/* footer starts */
.footer-ellipsis-wrapper{
	height: 300px;
}

.ellipsis-subs{
	background: linear-gradient(93.27deg, #6a0460 4.44%, #685bbc 85.9%);
	transform: rotate(-65.65deg);
}

.ellipsis-foots-left {
    top: calc(-26% - 20px);
    left: calc(15% - 20px);
    width: 180.56px;
    height: 400.47px;
    background: linear-gradient(93.27deg, #F754E7 4.44%, #685bbc 85.9%);
    filter: blur(20.289px);
    transform: rotate(-90deg);
    z-index: 1;
}

.ellipsis-foots-right {
    filter: blur(20.289px);
    transform: rotate(-90deg);
    top: calc(0% - 20px);
    left: calc(65% - 20px);
    width: 300.58px;
    height: 320.82px;
	z-index: 1;
}