* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #2C2D44;
	color: #fff;
}

/* fonts */
.ex-bold-54{
	font-family: 'Barlow', sans-serif;
	font-size: 54px;
}

.bold-20{
	font-weight: 700;
	font-size: 20px;
}

.bold-38{
	font-weight: 700;
	font-size: 38px;
}

.med-14{
	font-weight: 500;
	font-size: 14px;
}

.med-20{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.light-22{
	font-weight: 300;
	font-size: 22px;
	line-height: 35px;
}

/* colors */
.c-tag-1{
	color: #fff !important;
}

.pt-200{
	padding-top: 200px;
}

.c_custom{
    max-width: 1740px !important;
}

/* header starts */
.header-fixed {
    position: absolute;
    background: rgba(37, 37, 62, 0.45);
	/* filter: blur(1px); */
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 9999;
    visibility: inherit;
}

/* hero starts */
.hero, .database{
	position: relative;
	width: 100%;
    height: 100vh;
}

.ellipse-wrapper{
	position: absolute;
	width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
	background: rgba(20, 20, 20, 0.4);
	filter: blur(120px);
	z-index: 1;
}

.ellipsis{
	position: absolute;
    border-radius: 50%;
    background: linear-gradient(93.27deg, #F754E7 4.44%, #6A53F7 99.9%);
	transform: rotate(-90deg);
}

.ellipsis-hero{
    top: calc(10% - 20px);
    left: calc(44% - 20px);
    width: 330px;
    height: 865px;
}

.content{
	position: absolute;
	z-index: 3;
	width: 100%;
}

/* database stars */
.data-right{
	width: 70%;
}

.data-left img{
	width: 100%;
	background: linear-gradient(81.03deg, rgba(255, 0, 168, 0.66) 15.92%, rgba(210, 0, 215, 0.657396) 45.29%, rgba(251, 47, 230, 0.63) 69.59%, rgba(220, 6, 255, 0.87) 91.36%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 40px;
	border-radius: 15px;
}

.ellipsis-data{
    top: calc(20% - 20px);
    left: calc(44% - 20px);
    width: 295px;
	height: 539px;
}